Johnson_Platformer/Library/
Johnson_Platformer/Logs/
Johnson_Platformer/UserSettings/
Johnson_Platformer/.DS_Store
Johnson_Platformer/Temp/

FlameFlitFinal/Library/
FlameFlitFinal/Logs/
FlameFlitFinal/UserSettings/
FlameFlitFinal/.DS_Store
FlameFlitFinal/Temp/

Johnson_Isometric/Library/
Johnson_Isometric/Logs/
Johnson_Isometric/UserSettings/
Johnson_Isometric/.DS_Store
Johnson_Isometric/Temp/

